/* line 1, scss/main.css */
* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

/* line 8, scss/main.css */
.container {
  max-width: 1170px;
  margin: 0 auto; }

/* line 12, scss/main.css */
.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

/* line 17, scss/main.css */
.col-1 {
  width: 8.33333%; }

/* line 20, scss/main.css */
.col-2 {
  width: 16.66667%; }

/* line 23, scss/main.css */
.col-3 {
  width: 25%; }

/* line 26, scss/main.css */
.col-4 {
  width: 33.33333%; }

/* line 29, scss/main.css */
.col-5 {
  width: 41.66667%; }

/* line 32, scss/main.css */
.col-6 {
  width: 50%; }

/* line 35, scss/main.css */
.col-7 {
  width: 58.33333%; }

/* line 38, scss/main.css */
.col-8 {
  width: 66.66667%; }

/* line 41, scss/main.css */
.col-9 {
  width: 75%; }

/* line 44, scss/main.css */
.col-10 {
  width: 83.33333%; }

/* line 47, scss/main.css */
.col-11 {
  width: 91.66667%; }

/* line 50, scss/main.css */
.col-12 {
  width: 100%; }

/* line 53, scss/main.css */
[class*='col-'] {
  float: left;
  min-height: 1px;
  border: 1px solid red;
  padding: 10px; }

/* line 59, scss/main.css */
header .hamburger {
  display: inline-block;
  float: right;
  position: absolute;
  top: 20px;
  right: 30px; }

@media (min-width: 900px) {
  /* line 66, scss/main.css */
  header .hamburger {
    display: none; } }

/* line 69, scss/main.css */
header .logo {
  font-size: 25px;
  font-weight: 800;
  color: #ff971f;
  margin: 25px 0 10px 15px; }

@media (min-width: 900px) {
  /* line 75, scss/main.css */
  header .logo {
    margin: 25px 0 10px 50px;
    font-size: 30px; } }

@media (min-width: 1200px) {
  /* line 79, scss/main.css */
  header .logo {
    margin: 25px 0 10px 15px; } }

/* line 82, scss/main.css */
header .navigation {
  margin-top: 15px;
  text-align: center;
  list-style: none;
  display: none;
  border-top: 3px solid rgba(123, 123, 123, 0.1); }

@media (min-width: 900px) {
  /* line 89, scss/main.css */
  header .navigation {
    padding-top: 10px;
    display: block; } }

/* line 92, scss/main.css */
header .navigation li {
  cursor: pointer;
  font-size: 25px;
  padding: 10px 0 10px 0;
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid rgba(123, 123, 123, 0.1); }

@media (min-width: 900px) {
  /* line 101, scss/main.css */
  header .navigation li {
    border-bottom: none;
    padding: 0 10px;
    display: inline; } }

/* line 105, scss/main.css */
header .navigation li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400; }

@media (min-width: 1200px) {
  /* line 111, scss/main.css */
  header .navigation li a {
    font-size: 25px; } }

/* line 113, scss/main.css */
header .navigation li a:hover {
  color: #ff971f;
  transition: 1s; }

/* line 116, scss/main.css */
header .navigation li a:focus {
  color: #ff971f;
  transition: 1s; }

/* line 120, scss/main.css */
section .photo {
  background-image: url(../photos/background_photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 90vh;
  position: absolute;
  width: 100vw; }

@media (min-width: 450px) {
  /* line 129, scss/main.css */
  section .photo {
    height: 80vh; } }

@media (min-width: 900px) {
  /* line 132, scss/main.css */
  section .photo {
    margin-top: 0;
    left: 25px;
    top: 150px;
    width: 95vw; } }

@media (min-width: 900px) {
  /* line 138, scss/main.css */
  section .photo {
    left: 45px; } }

/* line 141, scss/main.css */
.formBackground {
  width: 95vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 30px;
  border-radius: 2px;
  display: block;
  margin: auto; }

@media (min-width: 450px) {
  /* line 151, scss/main.css */
  .formBackground {
    width: 350px;
    height: 550px; } }

@media (min-width: 900px) {
  /* line 155, scss/main.css */
  .formBackground {
    right: 250px;
    position: relative;
    top: 50px;
    height: 550px; } }

@media (min-width: 1200px) {
  /* line 161, scss/main.css */
  .formBackground {
    right: 400px; } }

@media (min-width: 1200px) {
  /* line 165, scss/main.css */
  .calories {
    width: 400px; } }

/* line 168, scss/main.css */
.bmi p, .calories p {
  padding-top: 25px;
  font-size: 25px;
  margin: 25px 0;
  text-align: center;
  font-weight: 500; }

/* line 174, scss/main.css */
.bmi p span, .calories p span {
  font-size: 27px;
  font-weight: 600; }

/* line 178, scss/main.css */
.bmi .bmiForm label, .bmi .caloriesForm label, .calories .bmiForm label, .calories .caloriesForm label {
  font-size: 20px;
  margin: 0px 30px 0 10px;
  top: 2px;
  position: relative; }

/* line 184, scss/main.css */
.bmi .bmiForm .gender, .bmi .caloriesForm .gender, .calories .bmiForm .gender, .calories .caloriesForm .gender {
  width: 30px;
  height: 30px;
  margin: 20px 0 20px 15px; }

/* line 189, scss/main.css */
.bmi .bmiForm input[type='text'], .bmi .caloriesForm input[type='text'], .calories .bmiForm input[type='text'], .calories .caloriesForm input[type='text'] {
  height: 35px;
  width: 150px; }

/* line 193, scss/main.css */
.bmi .bmiForm .old, .bmi .caloriesForm .old, .calories .bmiForm .old, .calories .caloriesForm .old {
  margin: 20px 0 20px -10px; }

/* line 196, scss/main.css */
.bmi .bmiForm .firstInputBmi, .bmi .caloriesForm .firstInputBmi, .calories .bmiForm .firstInputBmi, .calories .caloriesForm .firstInputBmi {
  margin: 20px 0 20px -10px; }

/* line 199, scss/main.css */
.bmi .bmiForm .secondInputBmi, .bmi .caloriesForm .secondInputBmi, .calories .bmiForm .secondInputBmi, .calories .caloriesForm .secondInputBmi {
  margin: 20px 0 20px 0px; }

/* line 202, scss/main.css */
.bmi .bmiForm input[type='radio'], .bmi .caloriesForm input[type='radio'], .calories .bmiForm input[type='radio'], .calories .caloriesForm input[type='radio'] {
  width: 30px;
  height: 30px;
  margin: 20px 0 20px 15px;
  position: relative;
  top: 9px; }

/* line 209, scss/main.css */
.bmi .bmiForm .errorLabel, .bmi .caloriesForm .errorLabel, .calories .bmiForm .errorLabel, .calories .caloriesForm .errorLabel {
  font-size: 16px;
  font-weight: 500;
  color: red; }

/* line 214, scss/main.css */
.bmiBtn, .caloriesBtn {
  cursor: pointer;
  margin-left: 2%;
  width: 90vw;
  height: 50px;
  background: #ff971f;
  text-align: center;
  position: relative;
  margin: 50px auto; }

@media (min-width: 450px) {
  /* line 224, scss/main.css */
  .bmiBtn, .caloriesBtn {
    margin: 85px auto;
    margin-left: 11%;
    width: 265px;
    height: 50px;
    background: #ff971f;
    text-align: center;
    position: relative; } }

/* line 232, scss/main.css */
.bmiBtn p, .caloriesBtn p {
  text-shadow: 1px 1px 3px #854900;
  font-size: 17px;
  color: white;
  font-weight: 600;
  padding-top: calc(50% - 148px);
  letter-spacing: 1px; }

@media (min-width: 450px) {
  /* line 240, scss/main.css */
  .bmiBtn p, .caloriesBtn p {
    padding-top: calc(50% - 118px);
    margin: 85px auto; } }

/* line 244, scss/main.css */
.bmiBtn:hover, .caloriesBtn:hover {
  background: #ffaf5e;
  background-image: linear-gradient(to bottom, #ffaf5e, #ff8400);
  text-decoration: none; }

/* line 249, scss/main.css */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s; }

/* line 258, scss/main.css */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

/* line 262, scss/main.css */
.change .bar2 {
  opacity: 0; }

/* line 265, scss/main.css */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

/* line 269, scss/main.css */
.visible {
  display: none; }

/* line 272, scss/main.css */
.bgClick {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  opacity: 1;
  position: absolute;
  top: 0;
  background-image: url(../photos/background_photo_blur.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

/* line 284, scss/main.css */
.bgClick .finalFormBg {
  right: 0;
  top: 85px;
  width: 90vw;
  height: 500px;
  background: white; }

@media (min-width: 450px) {
  /* line 291, scss/main.css */
  .bgClick .finalFormBg {
    top: 150px;
    width: 600px; } }

/* line 294, scss/main.css */
.bgClick .finalFormBg h2 {
  font-size: 25px;
  font-weight: 600;
  color: #ff971f;
  text-align: center;
  padding: 20px 0; }

@media (min-width: 450px) {
  /* line 301, scss/main.css */
  .bgClick .finalFormBg h2 {
    font-size: 25px; } }

/* line 303, scss/main.css */
.bgClick .finalFormBg p {
  font-size: 20px;
  text-align: center;
  padding: 20px; }

/* line 307, scss/main.css */
.bgClick .finalFormBg p span {
  font-size: 20px;
  font-weight: 600;
  color: #ff971f; }

/* line 311, scss/main.css */
.bgClick .bmiScale {
  display: none; }

/* line 313, scss/main.css */
.bgClick .bmiScale h2 {
  font-size: 25px;
  font-weight: 600;
  color: #ff971f;
  text-align: center;
  padding: 20px 0; }

@media (min-width: 450px) {
  /* line 320, scss/main.css */
  .bgClick .bmiScale h2 {
    font-size: 25px; } }

/* line 322, scss/main.css */
.bgClick .bmiScale .list {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  list-style: none; }

/* line 327, scss/main.css */
.bgClick .bmiScale .list li {
  text-align: center;
  list-style: none;
  font-size: 13px; }

@media (min-width: 450px) {
  /* line 332, scss/main.css */
  .bgClick .bmiScale .list li {
    font-size: 15px; } }

/* line 334, scss/main.css */
.bgClick .closeFormBtn {
  cursor: pointer;
  margin-left: 2%;
  width: 80vw;
  height: 50px;
  background: #ff971f;
  text-align: center;
  position: relative;
  margin: 0px auto;
  margin-left: auto; }

@media (min-width: 450px) {
  /* line 345, scss/main.css */
  .bgClick .closeFormBtn {
    width: 265px;
    height: 50px;
    margin: 50px auto; } }

/* line 349, scss/main.css */
.bgClick .closeFormBtn p {
  text-shadow: 1px 1px 3px #854900;
  font-size: 17px;
  color: white;
  font-weight: 600;
  padding-top: calc(50% - 130px);
  letter-spacing: 1px; }

@media (min-width: 450px) {
  /* line 357, scss/main.css */
  .bgClick .closeFormBtn p {
    padding-top: calc(50% - 118px); } }
