/* line 1, scss/main.css */
* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

/* line 8, scss/main.css */
.container {
  max-width: 1170px;
  margin: 0 auto; }

/* line 12, scss/main.css */
.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

/* line 17, scss/main.css */
.col-1 {
  width: 8.33333%; }

/* line 20, scss/main.css */
.col-2 {
  width: 16.66667%; }

/* line 23, scss/main.css */
.col-3 {
  width: 25%; }

/* line 26, scss/main.css */
.col-4 {
  width: 33.33333%; }

/* line 29, scss/main.css */
.col-5 {
  width: 41.66667%; }

/* line 32, scss/main.css */
.col-6 {
  width: 50%; }

/* line 35, scss/main.css */
.col-7 {
  width: 58.33333%; }

/* line 38, scss/main.css */
.col-8 {
  width: 66.66667%; }

/* line 41, scss/main.css */
.col-9 {
  width: 75%; }

/* line 44, scss/main.css */
.col-10 {
  width: 83.33333%; }

/* line 47, scss/main.css */
.col-11 {
  width: 91.66667%; }

/* line 50, scss/main.css */
.col-12 {
  width: 100%; }

/* line 53, scss/main.css */
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 10px; }

/* line 58, scss/main.css */
header .hamburger {
  display: inline-block;
  float: right;
  position: absolute;
  top: 20px;
  right: 30px; }

@media (min-width: 900px) {
  /* line 65, scss/main.css */
  header .hamburger {
    display: none; } }

/* line 68, scss/main.css */
header .logo {
  font-size: 25px;
  font-weight: 800;
  color: #ff971f;
  margin: 25px 0 10px 15px; }

@media (min-width: 900px) {
  /* line 74, scss/main.css */
  header .logo {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px; } }

/* line 79, scss/main.css */
header .navigation {
  margin-top: 15px;
  text-align: center;
  list-style: none;
  border-top: 3px solid rgba(123, 123, 123, 0.1); }

@media (min-width: 900px) {
  /* line 85, scss/main.css */
  header .navigation {
    padding-top: 10px; } }

/* line 87, scss/main.css */
header .navigation li {
  cursor: pointer;
  font-size: 25px;
  padding: 10px 0 10px 0;
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid rgba(123, 123, 123, 0.1); }

@media (min-width: 900px) {
  /* line 96, scss/main.css */
  header .navigation li {
    border-bottom: none;
    padding: 0 10px;
    display: inline; } }

/* line 100, scss/main.css */
header .navigation li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 400; }

/* line 105, scss/main.css */
header .navigation li a:hover {
  color: #ff971f;
  transition: 1s; }

/* line 108, scss/main.css */
header .navigation li a:focus {
  color: #ff971f;
  transition: 1s; }

/* line 112, scss/main.css */
section .photo {
  background-image: url(../photos/background_photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  position: absolute;
  width: 100vw; }

@media (min-width: 450px) {
  /* line 121, scss/main.css */
  section .photo {
    height: 80vh; } }

@media (min-width: 900px) {
  /* line 124, scss/main.css */
  section .photo {
    margin-top: 0;
    left: 42px;
    top: 150px;
    width: 95vw; } }

/* line 130, scss/main.css */
.formBackground {
  width: 95vw;
  height: 550px;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 30px;
  border-radius: 2px;
  display: block;
  margin: auto; }

@media (min-width: 900px) {
  /* line 140, scss/main.css */
  .formBackground {
    width: 350px; } }

@media (min-width: 900px) {
  /* line 143, scss/main.css */
  .formBackground {
    position: absolute;
    top: 100px; } }

/* line 147, scss/main.css */
.bmi p {
  font-size: 25px;
  margin: 25px 0;
  text-align: center;
  font-weight: 500; }

/* line 153, scss/main.css */
.bmi label {
  font-size: 25px; }

/* line 156, scss/main.css */
.bmi .bmiBtn {
  width: 125px;
  height: 50px;
  background: #ff971f;
  text-align: center;
  margin: 20px 0;
  position: relative; }

/* line 164, scss/main.css */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s; }

/* line 173, scss/main.css */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

/* line 177, scss/main.css */
.change .bar2 {
  opacity: 0; }

/* line 180, scss/main.css */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }
