header {
    .hamburger {
        display: inline-block;
        float: right;
        position: absolute;
        top: 20px;
        right: 30px;
        @media (min-width: 900px) {
            display: none;
        }
    }
    .logo {
        font-size: 25px;
        font-weight: 800;
        color: $bgLogoColor;
        margin: 25px 0 10px 15px;
        @media (min-width: 900px) {
            margin: 25px 0 10px 50px;
            font-size: 30px;
        }
        @media (min-width: 1200px) {
            margin: 25px 0 10px 15px;
        }
    }
    .navigation {
        margin-top: 15px;
        text-align: center;
        list-style: none;
        display: none;
        border-top: 3px solid rgba(123, 123, 123, 0.1);
        @media (min-width: 900px) {
            padding-top: 10px;
            display: block;
        }
        li {
            cursor: pointer;
            font-size: 25px;
            padding: 10px 0 10px 0;
            color: black;
            text-decoration: none;
            display: block;
            border-bottom: 2px solid rgba(123, 123, 123, 0.1);
            @media (min-width: 900px) {
                border-bottom: none;
                padding: 0 10px;
                display: inline;
            }
            a {
                text-decoration: none;
                color: black;
                font-size: 20px;
                font-weight: 400;
                @media (min-width: 1200px) {
                    font-size: 25px;
                }
            }
            a:hover {
                color: $bgLogoColor;
                transition: 1s;
            }
            a:focus {
                color: $bgLogoColor;
                transition: 1s;
            }
        }
    }
}

section {
    .photo {
        background-image: url(../photos/background_photo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        height: 90vh;
        position: absolute;
        width: 100vw;
        @media (min-width: 450px) {
            height: 80vh;
        }
        @media (min-width: 900px) {
            margin-top: 0;
            left: 25px;
            top: 150px;
            width: 95vw;
        }
        @media (min-width: 900px) {
            left: 45px;
        }
    }
}

.formBackground {
    width: 95vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 30px;
    border-radius: 2px;
    display: block;
    margin: auto;
    @media (min-width: 450px) {
        width: 350px;
        height: 550px;
    }
    @media (min-width: 900px) {
        right: 250px;
        position: relative;
        top: 50px;
        height: 550px;
    }
    @media (min-width: 1200px) {
        right: 400px;
    }
}

.bmi {
    p {
        padding-top: 25px;
        font-size: 25px;
        margin: 25px 0;
        text-align: center;
        font-weight: 500;
        span {
            font-size: 27px;
            font-weight: 600;
        }
    }
    .bmiForm {
        label {
            font-size: 20px;
            margin: 0px 30px 0 10px;
            top: 2px;
            position: relative;
        }
        .gender {
            width: 30px;
            height: 30px;
            margin: 20px 0 20px 15px;
        }
        input[type='text'] {
            height: 35px;
            width: 150px;
        }
        .firstInputBmi {
            margin: 20px 0 20px -10px;
        }
        .secondInputBmi {
            margin: 20px 0 20px 0px;
        }
        input[type='radio'] {
            width: 30px;
            height: 30px;
            margin: 20px 0 20px 15px;
            position: relative;
            top: 9px;
        }
        .errorLabel {
            font-size: 16px;
            font-weight: 500;
            color: red;
        }
    }
}

.bmiBtn {
    cursor: pointer;
    margin-left: 2%;
    width: 90vw;
    height: 50px;
    background: $bgLogoColor;
    text-align: center;
    position: relative;
    margin: 50px auto;
    @media (min-width: 450px) {
        margin: 85px auto;
        margin-left: 11%;
        width: 265px;
        height: 50px;
        background: #ff971f;
        text-align: center;
        position: relative;
    }
    p {
        text-shadow: 1px 1px 3px #854900;
        font-size: 17px;
        color: white;
        font-weight: 600;
        padding-top: calc(50% - 148px);
        //margin: 50px auto;
        letter-spacing: 1px;
        @media (min-width: 450px) {
            padding-top: calc(50% - 118px);
            margin: 85px auto;
        }
    }
}

.bmiBtn:hover {
    background: #ffaf5e;
    background-image: linear-gradient(to bottom, #ffaf5e, #ff8400);
    text-decoration: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.visible {
    display: none;
}

.bgClick {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    opacity: 1;
    position: absolute;
    top: 0;
    background-image: url(../photos/background_photo_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    .finalFormBg {
        right: 0;
        top: 85px;
        width: 90vw;
        height: 500px;
        background: rgba(255, 255, 255, 1);
        @media (min-width: 450px) {
            top: 150px;
            width: 600px;
        }
        h2 {
            font-size: 25px;
            font-weight: 600;
            color: $bgLogoColor;
            text-align: center;
            padding: 20px 0;
            @media (min-width: 450px) {
                font-size: 25px;
            }
        }
        p {
            font-size: 20px;
            text-align: center;
            padding: 20px;
            span {
                font-size: 20px;
                font-weight: 600;
                color: $bgLogoColor;
            }
        }
    }
    .bmiScale {
        display: none;
        h2 {
            font-size: 25px;
            font-weight: 600;
            color: $bgLogoColor;
            text-align: center;
            padding: 20px 0;
            @media (min-width: 450px) {
                font-size: 25px;
            }
        }
        .list {
            padding-top: 10px;
            text-align: center;
            font-size: 15px;
            list-style: none;
            li {
                text-align: center;
                list-style: none;
                font-size: 13px;
                @media (min-width: 450px) {
                    font-size: 15px;
                }
            }
        }
    }
    .closeFormBtn {
        cursor: pointer;
        margin-left: 2%;
        width: 80vw;
        height: 50px;
        background: $bgLogoColor;
        text-align: center;
        position: relative;
        margin: 0px auto;
        margin-left: auto;
        @media (min-width: 450px) {
            width: 265px;
            height: 50px;
            margin: 50px auto;
        }
        p {
            text-shadow: 1px 1px 3px #854900;
            font-size: 17px;
            color: white;
            font-weight: 600;
            padding-top: calc(50% - 130px);
            letter-spacing: 1px;
            @media (min-width: 450px) {
                padding-top: calc(50% - 118px);
            }
        }
    }
}